body {
  background-color: lightblue;
  font-family: Montserrat;
  color: blue;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  color: blue;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
}

#profile {
width: 100px;
height: auto;
border-radius: 50%;
}

a {
  color: blue;
  text-decoration: underline;
}

button:hover {
  color:cornflowerblue;
 }

@media (max-width: 960px){
.container .card {
  background-color: pink;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  box-shadow: 2px 2px 3px grey;
}
}
